[submodule "ThirdParty/Sharpmake"]
	path = ThirdParty/Sharpmake
	url = https://github.com/Cheaterdev/Sharpmake.git
[submodule "ThirdParty/imgui"]
	path = ThirdParty/imgui
	url = https://github.com/ocornut/imgui.git
