[submodule "ThirdParty/Sharpmake"]
	path = ThirdParty/Sharpmake
	url = https://github.com/Cheaterdev/Sharpmake.git
[submodule "ThirdParty/imgui"]
	path = ThirdParty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "ThirdParty/lunasvg"]
	path = ThirdParty/lunasvg
	url = https://github.com/sammycage/lunasvg.git
